<app-header/>

<div class="container-fluid">
  <div class="row flex-nowrap" >
    <!-- sidebar -->
    <div class="col-md-2 min-vh-100 border-end p-0">

        <ul class="nav nav-pills flex-column">
          <li class="nav-item border-bottom">
            <a class="nav-link text-black" routerLink="">
              <i class="bi bi-house p-1"></i><span class="d-sm inline">Home</span>
            </a>
          </li>
          <li class="nav-item border-bottom">
            <a class="nav-link text-black" routerLink="/users/list">
              <i class="bi bi-people p-1"></i><span class="d-sm inline">Manage users</span>
            </a>
          </li>
        </ul>

    </div>
    <!-- sidebar -->
    <div class="col p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


